body { 
    background-color:#d9e8ff;
}

button {

}
.form-place {
    background-color: white;
    margin: auto;
    width: 80%;
    padding: 10px;
}

.getin {
    color: blue;
    text-align: left;
    margin-left: 10%;
}

.adr45 {
    width: 48%;
}

.adr {
    width: 98%;
}

.btn-c {
    margin: auto;
    width: 10%;
    padding: 10px;
}

button {
    color: aliceblue;
    background-color: blue;
    border-radius: 12px;
    padding: 8px 4px;
}

.thanks {
    color: green; 
    text-align: left;
    margin-left: 10%;   
}
