body { 
    background-color:#d9e8ff;
}

.form-place {
    background-color: white;
    margin: auto;
    width: 80%;
    padding: 10px;
}

.getin {
    color: blue;
    text-align: left;
    margin-left: 12%;
    font-size: 28px;
    font-weight: 800;
}

.adr45 {
    color: blue;
    width: 40%;
    background-color: rgb(217, 213, 255);
    border-radius: 12px;
    padding: 16px 20px;
    margin-left: 10px;
}

.adr {
    color: blue;
    width: 90%;
    background-color: rgb(215, 185, 253);
    border-radius: 12px;
    padding: 16px 20px;
    margin-left: 12px;
}

.btn-c {
    color: blue;
    margin: auto;
    width: 20%;
    padding: 10px;
}

button {
    color: aliceblue;
    background-color: blue;
    border-radius: 26px;
    padding: 18px 48px;
    font-size: 24px;
}

.thanks {
    color: green; 
    text-align: left;
    margin-left: 12%;  
    font-size: 28px; 
}

::placeholder {
    color: rgb(77, 65, 255);
    font-weight: 700;
    font-size: 18px;
  }